@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');/* * {
    margin: 0
} */
body{
    background-color: #111111;
}
.billboard{
    text-align: center;
    color: yellow;
    font-size: 50px;
    z-index: 1000;
    margin: 0;
    transform: rotate(90deg);
    margin-left: -60vw;
    position: absolute;
 
}
.rollingstone{
    text-align: center;
    color: red;
    font-size: 30px;
    z-index: 1000;
    margin: 0;
    transform: rotate(-90deg);
    margin-right: -60vw;
    position: absolute;
} 

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.active.carousel-item{
    height: 100%;
}
/* .carousel{
    height: 100vh;
} */
.carousel-inner{
    height: 100%;
}
.carousel-caption{
    background-color:#111111;
    opacity: .8;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}
.songnames p{
    transition: all .2s ease-in-out;
}

.songnames button:hover{
    background-color: blueviolet;
    padding: 5px;
    /* border: 2.5px solid green */
}

h1,h2,h3{
    color: whitesmoke;
    font-family: 'Bangers', cursive;
}

img{
    padding: 15px;
}

.history{
    padding: 15px;
}
p{
    color: white;
    font-family: 'Bangers', cursive;
}
button{
    all: unset;
}

@media only screen and (max-width: 720px) {

.billboard{
    font-size: 50px;
    margin: 0;
    margin-top: -60vh;
    transform: rotate(0deg);
}
.rollingstone{
    margin: 0;
    margin-bottom: -60vh;
    font-size: 30px;
    transform: rotate(0deg);
}
}