@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
/* * {
    margin: 0
} */
body{
    background-color: black;
}

.rollingstone{
    text-align: center;
    color: red;
    font-size: 50px;
    z-index: 1000;
    margin: 0;
    transform: rotate(-90deg);
    margin-right: -60vw;
} 
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.active.carousel-item{
    height: 100%;
}
.carousel{
    height: 100vh;
}
.carousel-inner{
    height: 100%;
}
.carousel-caption{
    background-color:black;
    opacity: .8;
    border-radius: 2px;
}
.songnames p{
    transition: all .2s ease-in-out;
}

.songnames p:hover{
    background-color: blueviolet;
    padding: 5px;
    /* border: 2.5px solid green */
}